
body {
    background-color: #AFEEEE;
}
.container-row{
    width: 100px;
    height: 100px;
    background-color: #00FA9A;
    border: 1px solid black;
}

.row {
    display: flex;
    justify-content: center;
}

.container-goblin {
    background-image: url('./dist/2dbd01ce16c0fa83cb67.png');
    background-size: contain;
}

.test {
    color: red;
}